.DS_Store
archive/.DS_Store
archive/group.ipynb
archive/missing.csv
archive/new.csv
archive/new2.csv
archive/new3.csv
archive/ortsteile.csv
archive/ortsteile.xlsx
archive/secure-umlaute.csv
archive/secure-umlaute_2.csv
archive/secure-umlaute_3.csv
archive/secure-umlaute_4-ohn-bayern.csv
archive/secure.xlsx
archive/secure2.csv
archive/secure2.xlsx
archive/to-do_bayern
.ipynb_checkpoints/Untitled-checkpoint.ipynb
DE.tsv
Untitled.ipynb
data/archive/group.ipynb
data/archive/missing.csv
data/archive/new.csv
data/archive/new2.csv
data/archive/new3.csv
data/archive/ortsteile.csv
data/archive/ortsteile.xlsx
data/archive/secure-umlaute.csv
data/archive/secure-umlaute_2.csv
data/archive/secure-umlaute_3.csv
data/archive/secure-umlaute_4-ohn-bayern.csv
data/archive/secure.xlsx
data/archive/secure2.csv
data/archive/secure2.xlsx
data/archive/to-do_bayern
data/GB 2/readme.txt
data/placenames_de.tsvs
data/placenames_de.tsv
data/IR/readme.txt
data/IR/IR.txt
data/IR.zip
data/IE/readme.txt
data/IE/IE.txt
data/IE.zip
data/ie.csv
data/gb_clean.csv
data/GB/readme.txt
data/GB/GB.txt
data/GB/GB.tsv
data/GB/GB.csv
data/GB/.~lock.GB.csv#
data/GB.zip
data/data.csv
index_old.html
