
archive/.DS_Store
archive/group.ipynb
archive/missing.csv
archive/new.csv
archive/new2.csv
archive/new3.csv
archive/ortsteile.csv
archive/ortsteile.xlsx
archive/secure-umlaute.csv
archive/secure-umlaute_2.csv
archive/secure-umlaute_3.csv
archive/secure-umlaute_4-ohn-bayern.csv
archive/secure.xlsx
archive/secure2.csv
archive/secure2.xlsx
archive/to-do_bayern
